<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.horton.dao.AppMapper">
    <insert id="insertItem" parameterType="com.horton.VO.Item">
        insert into test.bd_top(id, type, idx, title, intro, img, lcu)
        values(#{id}, #{type}, #{idx}, #{title}, #{intro}, #{img}, #{lcu})
    </insert>
    <update id="saveLog">
        UPDATE `test`.`hamster_log` SET `count_exp` = count_exp + 1 WHERE (`id` = '1001');
    </update>
</mapper>