<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.horton.dao.AppMapper">
    <insert id="insertBdTop" parameterType="com.horton.dto.BdTopDto">
        insert into test.bd_top(id, src, type, idx, title, intro, img, lcu)
        values(#{id}, #{src}, #{type}, #{idx}, #{title}, #{intro}, #{img}, #{lcu})
    </insert>

    <insert id="insertSinaHot" parameterType="com.horton.dto.SinaHotDto">
        insert into test.sina_hot(mid, category, raw_hot, word, fun_word, channel_type, star_name, lcu)
        VALUES(#{mid}, #{category}, #{rowHot}, #{word}, #{funWord}, #{channelType}, #{starName}, #{lcu})
    </insert>

    <select id="queryByWord" resultType="java.util.HashMap">
        select fcd from sina_hot where word = #{word} limit 1
    </select>
</mapper>